<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ggnresearch.ggncal" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GGNResearch</name>
    <description>
        A sample application.
    </description>
    <author email="kalstudios.test@gmail.com" href="http://kalstudios.com">
        GGN Research Team
    </author>
    <content src="index.html" />
	<platform name="android">
              <icon src="www/img/logo.png" density="ldpi" />
              <icon src="www/img/logo.png" density="mdpi" />
              <icon src="www/img/logo.png" density="hdpi" />
              <icon src="www/img/logo.png" density="xhdpi" />
     </platform>
	 <platform name="ios">
              <icon src="www/img/logo.png" density="ldpi" />
              <icon src="www/img/logo.png" density="mdpi" />
              <icon src="www/img/logo.png" density="hdpi" />
              <icon src="www/img/logo.png" density="xhdpi" />
     </platform>
    <access origin="*" />
</widget>
