<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ggnresearch.ggncal" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GGNResearch</name>
    <description>
        A sample application.
    </description>
    <author email="kalstudios.test@gmail.com" href="http://kalstudios.com">
        GGN Research Team
    </author>
    <content src="index.html" />
	<platform name="android">
              <icon src="www/img/logo.png" density="ldpi" />
              <icon src="www/img/logo.png" density="mdpi" />
              <icon src="www/img/logo.png" density="hdpi" />
              <icon src="www/img/logo.png" density="xhdpi" />
     </platform>
	 <icon src="icon.png" />
	  <platform name="ios">
			<splash src="Default~iphone.png" width="320" height="480"/>
			<splash src="Default@2x~iphone.png" width="640" height="960"/>
			<splash src="Default-Portrait~ipad.png" width="768" height="1024"/>
			<splash src="Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
			<splash src="Default-Landscape~ipad.png" width="1024" height="768"/>
			<splash src="Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
			<splash src="Default-568h@2x~iphone.png" width="640" height="1136"/>
			<splash src="Default-667h.png" width="750" height="1334"/>
			<splash src="Default-736h.png" width="1242" height="2208"/>
			<splash src="Default-Landscape-736h.png" width="2208" height="1242"/>
     </platform>
	 
	
	 
    <access origin="*" />
</widget>
